body {
	font-family: helvetica, verdana, arial; color: #00283B;
}

h1 {
	background: url('../img/h1.png');
	margin-left: 23px;
	margin-right: 23px;
	color: rgb(255,170,0);
	font-size: 16pt;
	font-weight: normal;
}

h1 div {
	background: url('../img/h1_left.png') no-repeat top left;
	margin-left: -23px;
 	padding-left: 23px;
}

h1 div div {
	background: url('../img/h1_right.png') no-repeat top right;
	margin-right: -23px;
/* 	height: 56px; */
	line-height: 56px;
}

h2 {
	background: url('../img/hr.png') repeat-x bottom;
	color: #004275;
	font-size: 10pt;
	padding-bottom: 5px;
}

h3 {
	color: rgb(255,170,0);
	font-size: 14pt;
	font-weight: normal;
	margin-bottom: 5px;
}

p, li, td, code {
	font-size: 12pt;
	line-height: 1.5 ;
}

b {
	font-size: 16pt;
	line-height: 1.5 ;
}

input[type=radio] {
font-size: 12pt;
}

input[type=submit] {
    background: #0066A2;

color: white;

border-style: outset;

border-color: #0066A2;

height: 50px;

width: 100px;

font: bold 15px arial, sans-serif;

text-shadow:none;
}

a {
	color: #004275;
	text-decoration: none;
}

em {
	font-size: 8pt;
}

img {
	border: 0px; 
}

img.border {
	border: 1px solid #ccc;
}

iframe {
	border: none;
	height: 500px;
}

p.error { color: red; }
input.error {
	border: 1px solid red;
}

.odd {
	
}

.even {
	border-top: 1px solid #b9cdd7;
	border-bottom: 1px solid #b9cdd7;
	background-color: #ebeaeb;
}

h2.admin {
	color: #f4a899;
}

.support div.admin {
	border-top: 1px solid #f4a899;
	border-bottom: 1px solid #f4a899;
	background-color: #f7e9d9;
}

.support div.translation {
	border-top: 1px solid #004275;
	border-bottom: 1px solid #004275;
	background-color: #2f83c6;
	color: white;
}

.support div.translation p.smallText {
	color: white;
}


.support p {	
	padding: 5px 10px;
	margin: 0px;
}
.support p.smallText {
	color: #555;
	font-size: 11px;
}

ul.listIcon {
	list-style-position: outside;
	list-style-image: url("../img/listIcon.png");
	list-style-type: square;
}
ul.listIcon li {margin: 0; padding: 0; line-height: 18px;}

li.worldwide { list-style-image: url("../img/flags/16x16_worldwide.png"); }
li.eu { list-style-image: url("../img/flags/16x16_eu.png"); }
li.czech_republic { list-style-image: url("../img/flags/16x16_czech_republic.png"); }
li.denmark { list-style-image: url("../img/flags/16x16_denmark.png"); }
li.germany { list-style-image: url("../img/flags/16x16_germany.png"); }
li.ireland { list-style-image: url("../img/flags/16x16_ireland.png"); }
li.italy { list-style-image: url("../img/flags/16x16_italy.png"); }
li.finland { list-style-image: url("../img/flags/16x16_finland.png"); }
li.france { list-style-image: url("../img/flags/16x16_france.png"); }
li.norway { list-style-image: url("../img/flags/16x16_norway.png"); }
li.portugal { list-style-image: url("../img/flags/16x16_portugal.png"); }
li.poland { list-style-image: url("../img/flags/16x16_poland.png"); }
li.serbia { list-style-image: url("../img/flags/16x16_serbia.png"); }
li.spain { list-style-image: url("../img/flags/16x16_spain.png"); }
li.sweden { list-style-image: url("../img/flags/16x16_sweden.png"); }
li.switzerland { list-style-image: url("../img/flags/16x16_switzerland.png"); }
li.syria { list-style-image: url("../img/flags/16x16_syria.png"); }
li.thailand { list-style-image: url("../img/flags/16x16_thailand.png"); }
li.ukraine { list-style-image: url("../img/flags/16x16_ukraine.png"); }
li.united_kingdom { list-style-image: url("../img/flags/16x16_united_kingdom.png"); }

/* TOOLTIP */

font.tooltip { color: #004275; border-bottom:1px dotted #004275; }
div.tooltip { background: transparent url('../img/tooltip_bg.png') no-repeat; }
div.tooltip div {
	background: transparent url('../img/tooltip_right.png') no-repeat right;
	margin-right: -20px;
	height:48px;
	padding:5px 20px 0 20px;
	line-height:32px;
	white-space:nowrap;
	color:#fff;
	font-size: 12px;
}

#maincontent {
	float: left;
	width: 420px;
	padding-right: 30px;
}

/* PRODUCT RANGE */

div.product_info {width: 130px; float: left;}
div.product_info_margin {margin-right: 15px;}



div.telldus_live_side {
	background: transparent url('../img/TelldusLiveSide.png') no-repeat right;
	width: 175px;
	height: 100px;
	padding: 50px 20px 0 20px;
	margin: 0 0 20px 0;
}


table.comparison td a {padding-left: 3px;}
